@tailwind base;
@tailwind components;
@tailwind utilities;

:global(.times32) {
	font-family: 'Times Pixelated 32', 'Times New Roman', serif;
}

:global(button),
:global(h1),
:global(.arial16) {
	font-family: 'Arial Pixelated 16', 'Arial' !important;
}

:global(.times24) {
	font-family: 'Times Pixelated 24', 'Times New Roman', serif !important;
}

:global(span),
:global(p),
:global(input),
:global(li),
:global(.times16) {
	font-family: 'Times Pixelated 16', 'Times New Roman', serif;
}

@font-face {
	font-family: "Arial Pixelated 16";
	src: url(/fonts/ARIAL.TTF-16-Regular.woff) format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap
}

@font-face {
	font-family: "Times Pixelated 16";
	src: url(/fonts/TIMES.TTF-16-Regular.woff) format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap
}

@font-face {
	font-family: "Times Pixelated 16";
	src: url(/fonts/TIMESI.TTF-16-Italic.woff) format("woff");
	font-weight: normal;
	font-style: italic;
	font-display: swap
}

@font-face {
	font-family: "Times Pixelated 16";
	src: url(/fonts/TIMESBD.TTF-16-Bold.woff) format("woff");
	font-weight: bold;
	font-style: normal;
	font-display: swap
}

@font-face {
	font-family: "Times Pixelated 24";
	src: url(/fonts/TIMES.TTF-24-Regular.woff) format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap
}

@font-face {
	font-family: "Times Pixelated 32";
	src: url(/fonts/TIMES.TTF-32-Regular.woff) format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap
}
